---
layout: page
# All the Tags of posts.
---

<div>
    <div style="margin:20px 0">
        <p style="padding-top:10px">
            The coding challenge is designed to mimic the kind of work you'd be doing as a Developer on one of our projects. Your final submission is due <b>Monday, October 16, 2023 at 11:59pm</b>. Due to our strict interview timeline, we will not be accepting late submissions.
        </p>

        <p style="padding-top:15px">
            To be considered for one of these 3 positions, you'll need to:
            <ul>
            <li>
                Upload all solutions to your personalized GitHub Classroom folder
            </li>
            <li>
                Complete our final submission Google Form
            </li>
            </ul>
        </p>

        <p style="padding-top:15px;padding-bottom:25px">
            The assessment consists of <b>3 levels</b>. More detailed instructions are provided in the GitHub Classroom environment, which can be accessed using the links below.
        </p>
    </div>
    <div id="buttons">
    <hr>
    <div style="margin:30px 0">
        <form class="spaced" target="_blank" action="https://classroom.github.com/a/yz4nI-uI">
            <button type="submit" class="btn btn-outline-primary">Assessment Repository</button>
        </form>
        <p style="padding-top:10px">
            Here, you can access general information about the assessment
        </p>
    </div>
    <hr>
        <div style="margin:30px 0">
            <form class="spaced" target="_blank" action="https://github.com/VandyDataScience-Internal/recruitment-2023-template/tree/main/Level%201">
                <button type="submit" class="btn btn-outline-primary">Level 1</button>
            </form>
            <p style="padding-top:10px">
                In <b>Level 1</b>, you'll be asked to clean a dataset
            </p>
        </div>
    <hr>
        <div style="margin:30px 0">
            <form class="spaced" target="_blank" action="https://github.com/VandyDataScience-Internal/recruitment-2023-template/tree/main/Level%202">
                <button type="submit" class="btn btn-outline-primary">Level 2</button>
            </form>
            <p style="padding-top:10px">
                In <b>Level 2</b>, you'll be asked to train a classification model using the dataset you cleaned in Level 1
            </p>
        </div>
    <hr>
        <div style="margin:30px 0">
            <form class="spaced" target="_blank" action="https://github.com/VandyDataScience-Internal/recruitment-2023-template/tree/main/Level%203">
                <button type="submit" class="btn btn-outline-primary">Level 3</button>
            </form>
            <p style="padding-top:10px">
                In <b>Level 3</b>, you'll be asked to analyze and evaluate the model you built in Level 2
            </p>
        </div>
    <hr>
    </div>

    <div style="margin:20px 0;padding-top:25px">
        <p>As a reminder, EMs, Developers, and Workshop Creators will be completing the same assessment. 
        </p>
    </div>

    <div style="padding-top:15px">
        <p>Once you have uploaded your solutions to all 3 levels in GitHub Classroom, please <b>submit your application</b> using the Google Form below. Here, you will have the opportunity to indicate which position(s) you are applying for.
        </p>
    </div>

    <div id="buttons">
        <div style="margin:30px 0;padding-top:10px">
            <form class="spaced" target="_blank" action="https://docs.google.com/forms/d/e/1FAIpQLSdEkur_XEPnBaNbbge6yxn220Qro1COJQurOQ0btV9vEcUiww/viewform?usp=sf_link">
                <button type="submit" class="btn btn-outline-primary">Final Submission</button>
            </form>
        </div>
    </div>
</div>
