---
layout: page
# All the Tags of posts.
---

<div>
    <div style="padding-top:10px">
        <p>Email us:&nbsp;
            <a href="mailto:vanderbilt.datascience@gmail.com">vanderbilt.datascience@gmail.com</a>
        </p>
    </div>

    <div style="padding-top:15px">
        <p>Email one of our exec members:
            <ul>
                <li>
                    Adaline Leong, President:&nbsp;
                    <a href="mailto:jia.yin.leong@vanderbilt.edu">jia.yin.leong@vanderbilt.edu</a>
                </li>
                <li>
                    Brooke Stevens, VP of Finance:&nbsp;
                    <a href="mailto:brooke.m.stevens@vanderbilt.edu">brooke.m.stevens@vanderbilt.edu</a>
                </li>
                <li>
                    Chloe Nixon, VP of Marketing:&nbsp;
                    <a href="mailto:chloe.p.nixon@vanderbilt.edu ">chloe.p.nixon@vanderbilt.edu</a>
                </li>
            </ul>
        </p>
    </div>

    <div style="padding-top:15px">
        <p>The slides from our application GBM can be found  <a target="_blank" href="https://docs.google.com/presentation/d/1V8Mfqgt0BEYOk8R5OAm6koymrMcLLtJdvgT8MWYS7C4/edit?usp=sharing">here</a>!</p>
    </div>

    <div style="padding-top:15px">
        <p>Check out our previous work <a target="_blank" href="https://www.linkedin.com/posts/vanderbilt-data-science_datascience-machinelearning-artificialintelligence-activity-7078734917806821376-4WLS?utm_source=share&utm_medium=member_desktop">here</a>!</p>
    </div>
</div>
