---
layout: page
# All the Tags of posts.
---

<div>
    <div style="margin:20px 0">
        <p>There are three levels of EM applications</p>
    </div>
      
    <div id="buttons">
        <div style="margin:30px 0">
            <form class="spaced" action="https://docs.google.com/forms/d/e/1FAIpQLSerXZQf5XqwOTlT3moTPIaDrqv02K62zWIFfa44nak4CPB_sg/viewform?usp=sf_link">
                <button type="submit" class="btn btn-outline-primary">Level 1</button>
            </form>
            <p>Level 1 Description</p>
        </div>
      <hr>
        <div style="margin:30px 0">
            <form class="spaced" action="https://docs.google.com/forms/d/e/1FAIpQLSdrT1H0nUQRoPfpfeE8h1v9e-OsR2KvXC491vIN4zkhZp-oCA/viewform?usp=sf_link">
                <button type="submit" class="btn btn-outline-primary">Level 2</button>
            </form>
            <p>Level 2 Description</p>
        </div>
    <hr>
        <div style="margin:30px 0">
            <form class="spaced" action="https://docs.google.com/forms/d/e/1FAIpQLSeIkEcHFhkVWfq91TGg81TwwY6uQ1sQZAl6iryAoAcwkXO_2w/viewform?usp=sf_link">
                <button type="submit" class="btn btn-outline-primary">Level 3</button>
            </form>
            <p>Level 3 Description</p>
        </div>
  
    </div>
</div>