---
layout: page
# The Archives of posts.
---

<div>
    <div>
      <p style="padding-top:10px">
        We're accepting VDS executive board applications for the 2024-25 school year! Descriptions for our open positions can be found below. All applications are due <b>Tuesday, March 19, 2024 at 11:59pm</b>.
      </p>
      
      <p style="padding-top:15px">
        <b>Co-Presidents  (2)</b>
        <ul>
          <li>
            Oversees all club operations, leads executive board meetings, spearheads member recruitment, and ensures the club's mission is fulfilled through projects and workshops
          </li>
        </ul>
      </p>

      <p style="padding-top:15px">
        <b>Director of Finance</b>
        <ul>
          <li>
            For reporting purposes only, is listed as Treasurer in AnchorLink
          </li>
          <li>
            Manages the club's budget, oversees funding for events and supplies, and ensures that financial resources support all club activities
          </li>
          <li>
            Submits annual application for Student Services Funding in March/April 2025
          </li>
        </ul>
      </p>

      <p style="padding-top:15px">
        <b>Director of Communications</b>
        <ul>
          <li>
            For reporting purposes only, is listed as Secretary in AnchorLink
          </li>
          <li>
            Creates advertisement materials for workshops as well as the final showcase, in addition to managing internal and external communication such as meeting minutes and announcements
          </li>
        </ul>
      </p>

      <p style="padding-top:15px">
        <b>Director of Workshops</b>
        <ul>
          <li>
            Coordinates monthly educational workshops, working closely with the workshop team to plan and execute sessions that enhance members' data science skills
          </li>
        </ul>
      </p>

      <p style="padding-top:15px">
        <b>Director of Projects</b>
        <ul>
          <li>
            Identifies and partners with non-profits for data science projects, designs data science projects over the summer, and maintains regular progress check-ins with project team leads
          </li>
        </ul>
      </p>

      <div style="padding-top:15px">
        <p>Please <b>submit your application</b> using the Google Form below. Here, you'll have the opportunity to indicate which position(s) you are applying for.
        </p>
      </div>

      <div id="buttons">
          <div style="margin:30px 0;padding-top:10px">
              <form class="spaced" target="_blank" action="https://forms.gle/pqukBwbqt5fgoVBB6">
                  <button type="submit" class="btn btn-outline-primary">Executive Board Application</button>
              </form>
          </div>
      </div>
    </div>
</div>
  