---
layout: page
refactor: true
---

{% include lang.html %}

<div>
  <div style="margin:20px 0">
      <h1>Welcome</h1>

      <p style="padding-top:20px">
        We're so glad you're interested in applying for one of our <b>executive board positions</b> this year! On this site, you can find all the information you need to apply.
      </p>

      <p style="padding-top:15px">
        Projects will span from <b>November through April</b> of the 2023-24 school year. We are excited to partner with the following organizations and nonprofits this year:
        <ul>
          <li>
            <a target="_blank" href="https://thehomemoreproject.org/">HomeMore</a>
          </li>
          <li>
            <a target="_blank" href="https://thriftsmart.com/">ThriftSmart</a>
          </li>
          <li>
            <a target="_blank" href="https://minniesfoodpantry.org/">Minnie's Food Pantry</a>
          </li>
          <li>
            <a target="_blank" href="https://www.nashvillezoo.org/">Nashville Zoo</a>
          </li>
          <li>
            <a target="_blank" href="https://www.landtrusttn.org/">Land Trust for Tennessee</a>
          </li>
          <li>
            <a target="_blank" href="https://acttochange.org/">Act To Change</a>
          </li>
        </ul>
      </p>

      <p style="padding-top:15px">
        Please don't hesitate to reach out if you have any questions during the application process. We're looking forward to a great year! 😁
      </p>
  </div>
</div>

