---
layout: page
refactor: true
---

{% include lang.html %}

<div>
  <div style="margin:20px 0">
      <h1>Welcome</h1>
      <p>Description</p>
  </div>
  
  <div id="buttons">
    <div style="margin:30px 0">
      <form class="spaced" action="/roles">
        <button type="submit" class="btn btn-outline-primary">Roles Description</button>
      </form>
      <p>Roles Description Description</p>
    </div>
    <hr>
    <div style="margin:30px 0">
      <form class="spaced" action="/pm">
        <button type="submit" class="btn btn-outline-primary">PM Apply</button>
      </form>
      <p>PM Apply Description</p>
    </div>
    <hr>
    <div style="margin:30px 0">
      <form class="spaced" action="/em-or-dev">
        <button type="submit" class="btn btn-outline-primary">EM/Dev Apply</button>
      </form>
      <p>EM/Dev Apply Description</p>
    </div>
  </div>
</div>

