---
layout: page
refactor: true
---

{% include lang.html %}

<div>
  <div style="margin:20px 0">
      <h1>Welcome</h1>

      <p style="padding-top:20px">
        We're so glad you're interested in applying for one of our <b>3 member positions</b> this year! On this site, you can find all the information you need to complete this year's coding challenge.
      </p>

      <p style="padding-top:15px">
        We will be accepting applications for two <b>project-facing positions</b>:
        <ul>
          <li>
            <b>Engineering Managers</b> (1-2 people per project)
          </li>
          <li>
            <b>Developers</b> (~5 people per project)
          </li>
        </ul>
      </p>

      <p style="padding-top:15px">
        <b>Projects are valuable</b> if you are interested in:
        <ul>
          <li>
            Making a difference to the world with innovative nonprofits
          </li>
          <li>
            Gaining hands-on experience with data science and machine learninng
          </li>
          <li>
            Being a part of a close-knit team of passionate students
          </li>
        </ul>
      </p>

      <p style="padding-top:15px">
        Projects will span from <b>November through April</b> of the 2023-24 school year. We are excited to partner with the following organizations and nonprofits this year:
        <ul>
          <li>
            <a target="_blank" href="https://thehomemoreproject.org/">HomeMore</a>
          </li>
          <li>
            <a target="_blank" href="https://thriftsmart.com/">ThriftSmart</a>
          </li>
          <li>
            <a target="_blank" href="https://minniesfoodpantry.org/">Minnie's Food Pantry</a>
          </li>
          <li>
            <a target="_blank" href="https://www.nashvillezoo.org/">Nashville Zoo</a>
          </li>
          <li>
            <a target="_blank" href="https://www.landtrusttn.org/">Land Trust for Tennessee</a>
          </li>
          <li>
            <a target="_blank" href="https://acttochange.org/">Act To Change</a>
          </li>
        </ul>
      </p>

      <p style="padding-top:15px">
        Additionally, we will be accepting applications for <b>Workshop Creators</b>:
        <ul>
          <li>
            As a Workshop Creator, you will have the unique opportunity to create a workshop on an topic that excites you and share it with the Vanderbilt community
          </li>
        </ul>
      </p>

      <p style="padding-top:15px">
        <b>The same assessment will be used for all 3 positions.</b> In your final submission, you will have the opportunity to indicate which of the 3 positions you are interested in applying for. You are free to apply to as many positions as you'd like!
      </p>

      <p style="padding-top:15px">
        Please don't hesitate to reach out if you have any questions during the application process. We're looking forward to a great year! 😁
      </p>
  </div>
</div>

