---
layout: page
# The Archives of posts.
---

<div>
    <div>
      <p style="padding-top:10px">
        This year, we are considering applications for <b>EMs, Developers, and Workshop Creators</b>. EMs and Developers are project-facing positions, while Workshop Creators are not.
      </p>

      <p style="padding-top:15px">
        Our project-facing positions (EMs, Developers) will run throughout the duration of our project cycle (November through April). Projects are around a <b>6-8 hour/week</b> time commitment for EMs and a <b>4-6 hour/week</b> time commitment for Developers.
      </p>
      
      <p style="padding-top:15px">
        <b>As an EM, you will be responsible for:</b>
        <ul>
          <li>
            Designing the tech stack for your team, including choosing a framework and/or library as well as the deliverable format
          </li>
          <li>
            Leading product discovery meetings with stakeholders
          </li>
          <li>
            Facilitating weekly meetings with your team
          </li>
          <li>
            Designing and presenting your team's final poster presentation
          </li>
          <li>
            Preparing a technical hand-over guide for future teams
          </li>
        </ul>
      </p>

      <p style="padding-top:15px">
        <b>As a Developer, you will be responsible for:</b>
        <ul>
          <li>
            Creating the project!
          </li>
          <li>
            Data exploration, cleaning, and analysis as well as model building and evaluation
          </li>
          <li>
            Coding the deliverable
          </li>
          <li>
            Attending weekly meetings with your team
          </li>
          <li>
            Presenting your team's final poster presentation
          </li>
          <li>
            Preparing a technical hand-over guide for future teams
          </li>
        </ul>
      </p>

      <p style="padding-top:15px">
        Workshop Creators will design and lead an hour-long workshop on a topic related to data science and AI/ML to the broader Vanderbilt community.
      </p>

      <p style="padding-top:15px">
        <b>As a Workshop Creator, you will be responsible for:</b>
        <ul>
          <li>
            Choosing a workshop topic
          </li>
          <li>
            Creating the workshop
          </li>
          <li>
            Advertising the workshop
          </li>
          <li>
            Leading the workshop
          </li>
        </ul>
      </p>
    </div>
  </div>
