---
layout: page
# The Archives of posts.
---

<div>
    <div>
      <p style="padding-top:10px">
        This year, we are considering applications for <b>EMs, Developers, and Workshop Creators</b>. EMs and Developers are project-facing positions, while Workshop Creators are not.
      </p>

      <p style="padding-top:15px">
        Our project-facing positions (EMs, Developers) will run throughout the duration of our project cycle (November through April). Projects are around a <b>2-4 hour/week</b> time commitment for EMs and a <b>1-2 hour/week</b> time commitment for Developers.
      </p>
      
      <p style="padding-top:15px">
        <b>As an EM, you will be responsible for:</b>
        <ul>
          <li>
            Creating the initial project description (including tech stack, GitHub etiquette, VSCode style guide, expected timeline, documentation guides, etc.)
          </li>
          <li>
            Setting team expectations for the year
          </li>
          <li>
            Delegating tasks to Developers based on their personal technical goals
          </li>
          <li>
            Facilitating weekly coding sessions, check-ins, and standup meetings with Developers
          </li>
          <li>
            Performing a monthly review of sprints (adding or changing the yearly expected timeline)
          </li>
          <li>
            Designing the team's final poster presentation
          </li>
          <li>
            Preparing a technical hand-over guide for future teams
          </li>
        </ul>
      </p>

      <p style="padding-top:15px">
        <b>As a Developer, you will be responsible for:</b>
        <ul>
          <li>
            Understanding project specs and project etiquette outlined by your EM(s)
          </li>
          <li>
            Checking in with your EM(s) about expectations for the year
          </li>
          <li>
            Attending weekly coding sessions, check-ins, and stand-up meetings led by your EM(s)
          </li>
          <li>
            Communicating with your EM(s) about progress and blockers
          </li>
        </ul>
      </p>

      <p style="padding-top:15px">
        Our Workshop Creators will not be on project teams. Instead, each Workshop Creator will lead an hour-long workshop on a topic related to data science, artificial intelligence, or machine learning. These workshops will be open to the general body. 
      </p>

      <p style="padding-top:15px">
        <b>As a Workshop Creator, you will be responsible for:</b>
        <ul>
          <li>
            Choosing a workshop topic
          </li>
          <li>
            Familiarizing yourself on your chosen topic
          </li>
          <li>
            Completing any necessary research
          </li>
          <li>
            Creating a workshop lesson plan
          </li>
        </ul>
      </p>
    </div>
  </div>
